<app-navbar></app-navbar>
<main class="recipe-detail" *ngIf="recipe">
  <div class="recipe-detail-container">
    <app-recipe-content [recipe]="recipe"></app-recipe-content>

    <div class="recipe-sections">
      <div class="left-column">
        <app-ingredients></app-ingredients>
        <app-cooking-steps></app-cooking-steps>
      </div>
      <div class="right-column">
        <app-other-recipes *ngIf="recipes" [recipes]="recipes"></app-other-recipes>
      </div>

    </div>
    <app-like-it-recipes *ngIf="recipes" [recipes]="recipes"></app-like-it-recipes>
    <app-comments></app-comments>
  </div>
</main>
<app-footer></app-footer>
