<div class="error-container">
  <div class="error-content">
    <h1 class="error-code">404 ОШИБКА</h1>
    <h2 class="error-title">Страница не найдена</h2>
    <p class="error-message">К сожалению, мы не смогли найти страницу, которую вы ищете</p>

    <div class="error-actions">
      <button class="error-button back" (click)="goBack()">

        Назад
        <span class="button-icon">→</span>
      </button>
      <button class="error-button home" (click)="goHome()">
        На главную
        <span class="button-icon">→</span>
      </button>
    </div>
  </div>

  <div class="error-image">
    <img src="https://evo-academy.wckz.dev/assets/image/image_404.png" alt="Error 404">
  </div>
</div>