.cooking-steps-container {
  width: 100%;
}

h3 {
  font-size: 36px;
  margin-bottom: 10px;
}

.step-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(219, 226, 229, 1);
}

.step-item:last-child {
  border-bottom: none;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 35px;
  cursor: pointer;

}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 30px;
  height: 24px;
  width: 24px;
  border: 2px solid rgba(219, 226, 229, 1);
  background-color: white;
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark {
  border-color: rgba(61, 154, 37, 1);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: rgba(61, 154, 37, 1);
  border-color: rgba(61, 154, 37, 1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.step-content {
  margin-left: 15px;
}

.step-number {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 15px;
}

.step-description {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.step-content.checked {
  text-decoration: line-through;
  color: #999;
}

.step-text{
  font-size: 24px;

}
