.footer-content{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-section{
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgb(156, 163, 175);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a{
  cursor: pointer;
  margin-left: 20px;
}
