.navbar{
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  height: 110px;
  margin-bottom: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.navbar h3{
  margin-left: 20px;
}
.navbar-center {
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.navbar-center a{
  color: #333;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;

}
.nav-auth-button{
  background-color: rgb(58, 51, 149);
  padding: 10px 25px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.navbar-center a:hover{
  scale: 1.1;
}
.nav-auth-button:hover{
  background-color: rgb(76, 68, 195);
}
.navbar-right{
  margin-right: 20px;
}
.user-info{
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.user-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-info-container{
  display: flex;
  gap: 20px;

}
.user-name{
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
}
.user-role{
  color: rgba(144, 144, 144, 1);
  font-size: 12px;
}
