<nav class="navbar">
  <h3>Foodie</h3>

  <div class="navbar-center">
    <a routerLink="/">Главная</a>
    <a routerLink="/recipes">Каталог рецептов</a>
  </div>

  <div class="navbar-right">
    <ng-container [ngSwitch]="userState">

      <ng-template ngSwitchCase="guest">
        <button (click)="login()" class="nav-auth-button">Вход в аккаунт</button>
      </ng-template>



        <ng-template ngSwitchDefault >
          <app-dropdown [userState]="userState" >

            <div class="user-info-container">
              <div class="create-recipe-button" routerLink="/create-recipe"></div>
              <img [src]="user.avatar" alt="avatar" class="user-avatar">
              <div class="user-info">
                <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
                <span class="user-role">{{ user.role }}</span>
              </div>
            </div>
          </app-dropdown>
        </ng-template>

    </ng-container>
  </div>
</nav>
