<div class="slider-container">
  <button class="nav-button prev" (click)="previousSlide()" *ngIf="recipes.length > 1">
    <i class="fas fa-chevron-left"></i>
  </button>

  <div class="slide-content" *ngIf="recipes.length > 0">
    <div class="info-container">
      <div>
        <h2 class="recipe-title">{{recipes[currentSlideIndex].title}}</h2>
        <p class="recipe-description">
          <!-- {{recipes[currentSlideIndex].body}} -->
          Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim
        </p>
      </div>


      <div class="meta-container">
        <div class="meta-container-top">
          <div class="cooking-time">
            <span>{{formatCookingTime(recipes[currentSlideIndex].timeCooking)}}</span>
          </div>

          <div class="recipe-tags">
            <span class="tag" *ngFor="let tag of recipes[currentSlideIndex].tags">
              {{tag}}
            </span>
          </div>
        </div>

        <div class="meta-container-bottom">
          <div class="author-info">
            <img [src]="recipes[currentSlideIndex].author.avatar"
                [alt]="recipes[currentSlideIndex].author.firstName"
                class="author-avatar">
            <div class="author-info-text">
              <span class="author-name">
                {{recipes[currentSlideIndex].author.firstName}}
                {{recipes[currentSlideIndex].author.lastName}}
              </span>
              <span class="author-date">
                {{recipes[currentSlideIndex].createdOn | date:'dd MMMM yyyy'}}
              </span>
            </div>

          </div>

          <button class="view-recipe-btn" (click)="viewRecipe(recipes[currentSlideIndex].id)">
            Посмотреть рецепт
          </button>
      </div>
      </div>
    </div>

    <!-- Изображение -->
    <div class="slide-image">
      <img [src]="recipes[currentSlideIndex].image"
           [alt]="recipes[currentSlideIndex].title"
           class="recipe-image">
    </div>
  </div>

  <button class="nav-button next" (click)="nextSlide()" *ngIf="recipes.length > 1">
    <i class="fas fa-chevron-right"></i>
  </button>

  <div class="no-recipes" *ngIf="recipes.length === 0">
    <p>Рецепты загружаются...</p>
  </div>
</div>