.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  gap: 64px;
  margin: 0;
}
body{
  margin: 0;
}

.error-code {
  font-size: 14px;
  color: #6B7280;
  margin: 0;
  margin-bottom: 12px;
}

.error-title {
  font-size: 36px;
  color: #111827;
  margin: 0;
  margin-bottom: 12px;
}

.error-message {
  font-size: 16px;
  color: #6B7280;
  margin: 0;
  margin-bottom: 32px;
}

.error-actions {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.error-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: rgba(58, 51, 149, 1);
  background-color: rgb(255, 255, 255);
}


.button-icon {
  font-size: 18px;
}

.error-image {
  width: 720px;
  height: 100%;

}

.error-image img {
  width: 100%;
  height: auto;
}
