.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  position: absolute;
  right: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.dropdown-content a, .dropdown-content button {
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.dropdown-content a:hover, .dropdown-content button:hover {
  background-color: #ddd;
}
