<section class="best-recipes">
  <div class="section-header">
    <h2>Лучшие рецепты</h2>
    <p class="section-description">
      На нашем сайте вы найдете лучшие рецепты, которые помогут вам создавать великолепные блюда и поражать своих близких и гостей своим кулинарным мастерством.
    </p>
  </div>

  <div class="recipes-grid">
    <div class="recipe-card" *ngFor="let recipe of displayedRecipes" (click)="viewRecipe(recipe.id)">
      <div class="recipe-image">
        <img [src]="recipe.image" [alt]="recipe.title">
        <div class="like-button"
                [class.liked]="likedRecipes.has(recipe.id)"
                (click)="toggleLike(recipe.id, $event)">
        </div>
      </div>

      <div class="recipe-content">
        <h3 class="recipe-title">{{recipe.title}}</h3>
        <div class="recipe-meta">
          <div class="cooking-time">
            <span>{{formatCookingTime(recipe.timeCooking)}}</span>
          </div>

          <div class="recipe-tags">
            <span class="tag" *ngFor="let tag of recipe.tags">{{tag}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="show-more-container" *ngIf="showMoreButton">
    <button class="show-more-button" (click)="showMore()">
      Посмотреть еще
    </button>
  </div>

  <app-like-modal [showLikeMessage]="showLikeMessage" (close)="closeModal()"></app-like-modal>

</section>