.shop-notification {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 51, 149, 1);
  z-index: 10;
}

.notification-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-icon {
  width: 40px;
  height: 40px;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  opacity: 0.8;
}